.service-type{
    /* border: 1px solid tomato; */
    width: 100%;
    margin-bottom: 10px;
    /* padding: 6px; */
    /* background-color: tomato; */
   
    font-size: 1.1rem;
    font-weight: 600;
    display: flex;
}
.service-link{
    text-decoration: none;
    color: white;
    align-items: center;
}
.help{
    border: 1px solid black;
    padding: 30px 15px;
    border-radius: 10px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
}

.offer{
    border: 1px solid black;
    border-radius: 8px;
    position: relative;
    width: 100%;
    background-color: white;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: black;
}
.offer h6{
    color: tomato;
    margin-bottom: 8px;
}

.get{
    position: absolute;
    bottom: -10px;
}
@media only screen and (max-width:992px){
    .service-link-containe{
        padding-right: 20px;
        padding-left: 20px;
    }
    .ser{
        text-align: center;
    }
}