.details-container{
    margin-bottom: 30px;
}
.service-top-con{
    margin-top: 30px;
    margin-bottom: 30px;
    width: 100%;
    position: relative;
}
.service-banner-text{
    position: absolute;
    top: 45%;
    left: 20px;
    color: white;
}
.service-top-con img{
    width: 100%;
}
/* .service-bottom-con{
    border: 1px solid gainsboro;
} */
.service-left{
    /* border: 1px solid brown; */
    padding: 20px;
}
.service-right{
    /* border: 1px solid gray; */
    padding: 20px;
}
@media only screen and (max-width:992px){
    .service-top-con{
        height: 250px;
    }
    .service-top-con img{
        height: 100%;
    }
}
