.order-head-con{
    margin-top: 30px;
    margin-bottom: 40px;
    width: 100%;
    height: 300px;
    border-radius: 10px;
    position: relative;
}
.order-head-con img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
.banner-text{
    position: absolute;
    top: 45%;
    left: 40px;
}
.banner-text h4{
    color: white;
}
.order{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 20px;
    border-bottom: 1px solid gainsboro;
    padding-bottom: 5px;
}
.delate-order{
    border: 1px solid gray;
    padding: 8px;
    border-radius: 50%;
    background-color: gray;
    color: white;
}
.order img{
    width: 110px;
    height: 110px;
    border: 1px solid gainsboro;
    border-radius: 6px;
}
@media only screen and (max-width:992px){
    .order{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column-reverse;
    }
    .order img{
        width: 60%;
        height: 250px;
    }
    .delate-order{
        margin-top: 30px;
    }
}